if SHIELD_SF100_LEFT_CENTRAL || SHIELD_SF100_DONGLE

    config ZMK_KEYBOARD_NAME
        default "SF100"
    
    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_SF100_LEFT || SHIELD_SF100_RIGHT || SHIELD_SF100_PAD || SHIELD_SF100_DONGLE || SHIELD_SF100_LEFT_CENTRAL

    config ZMK_SPLIT
        default y

endif
