config SHIELD_SF100_LEFT
    def_bool $(shields_list_contains,sf100_left)

config SHIELD_SF100_LEFT_CENTRAL
    def_bool $(shields_list_contains,sf100_left_central)

config SHIELD_SF100_RIGHT
    def_bool $(shields_list_contains,sf100_right)

config SHIELD_SF100_PAD
    def_bool $(shields_list_contains,sf100_pad)

config SHIELD_SF100_DONGLE
    def_bool $(shields_list_contains,sf100_dongle)