#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0

#define AS(keycode) &as LS(keycode) keycode

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp F1    &kp F2    &kp F3     &kp F4    &kp F5  &kp F6  &kp F7  &kp F8     &kp F9     &kp F10   &kp F11    &kp F12    &kp DEL    &kp PG_UP  &kp KP_LEFT_PARENTHESIS  &kp KP_RIGHT_PARENTHESIS &kp TAB &kp BSPC
&kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4    &kp N5  &kp N6  &kp N7  &kp N8     &kp N9     &kp N0    &kp MINUS  &kp EQUAL  &kp BSPC   &kp PG_DN  &kp KP_NUM   &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS
&kp TAB    &kp Q     &kp W     &kp E      &kp R     &kp T           &kp Y   &kp U      &kp I      &kp O     &kp P      &kp LBKT   &kp RBKT   &kp BSLH   &kp N7   &kp N8    &kp N9    &kp KP_PLUS
&kp CAPS   &kp A     &kp S     &kp D      &kp F     &kp G           &kp H   &kp J      &kp K      &kp L     &kp SEMI   &kp APOS   &kp ENTER  &kp PG_UP  &kp N4   &kp N5    &kp N6
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V     &kp B           &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH   &kp RSHFT  &kp UP     &kp PG_DN  &kp N1   &kp N2    &kp N3    &kp KP_ENTER
&kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE  &kp LGUI                          &kp SPACE  &kp RALT   &kp LGUI  &kp RCTRL  &kp LEFT   &kp DOWN   &kp RIGHT  &none  &kp N0   &kp KP_DOT  
            >;
        };
    };
};
